body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#game_border{
    width: 1820px;
    height: 920px;
    border: 4px solid #4a4c5c;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#eq {
    float: right;
    margin-left: auto;
    height: auto;
    width: 22%;
    padding: 0.3%;
    border-radius: 20px;
    background-color: 	#15141a;
    border: 4px solid #4a4c5c;
    position: relative;
    display: block;
}
.bar{
    position:relative;
    width: 92%;
    height: 10%;
    background-color: gray;
    border-radius: 5px;
    border: solid 2px black;
    overflow: hidden;
    margin-top: 10px;
}
#health_bar_fill{
    width: 100%;
    height: 100%;
    background: radial-gradient(#ac221e,#c32620,#621511);
    transition: width 0.3s;
}

#xp_bar_fill{
    width: 0%;
    height: 100%;
    background: radial-gradient(#dfb854,#b56815);
    transition: width 0.3s;
}

#p_info{
    width: auto;
    height: 30px;
    margin-bottom: 10px;
    border: 4px solid #4a4c5c;
    color: #b3a799;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.money{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 92%;
    height: 10%;
    border-radius: 5px;
    border: 2px solid #4a4c5c;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #dfb854;
}

#bars{
    border:2px solid black;
    width: 52%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #4a4c5c;
    float: right;
}
.eq_container{
    width: auto;
    height: auto;
    border: 4px solid #4a4c5c;
    padding: 4px;
    display: grid;
    grid-template-rows: repeat(4,50px);
    grid-template-columns: repeat(3,50px);
    float: left;
}

.slot {
    background-color: 	#15141a;
    border: 2px solid #4a4c5c;
    margin: 2px;
}

#bag_slots{
    width: auto;
    height: auto;
    border: 4px solid #4a4c5c;
    padding: 4px;
    display: grid;
    grid-template-rows: repeat(6,50px);
    grid-template-columns: repeat(8,50px);
    margin-left: auto;
    margin-right: auto;
}
.bags{
    width: auto;
    height: 50px;
    border: 4px solid #4a4c5c;
    border-bottom: 0;
    padding: 4px;
    display: grid;
    grid-template-rows: repeat(1,50px);
    grid-template-columns: repeat(4,50px);
    margin-left: auto;
    margin-right: 4px;
}

#shop{
    position:relative;
    display: flex;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 4px solid #4a4c5c;
    margin-left: auto;
    top:20px;
    margin-right: 50px;
    color: #dfb854;
    background-color: #15141a;
    align-items: center;
    justify-content:space-evenly;
}




#top_eq{
    border: 4px solid #4a4c5c;
    width: 93%;
    height: 25%;
    padding: 10px;
}
#bottom_eq{
    border: 4px solid #4a4c5c;
    width: 370px;
    margin-top: 2%;
    height: 62.2%;
    display: flex;
    padding: 10px;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 95%;
    flex-direction: column;
    
}
#screen{
    display: flex;
    margin-right: 10px;
    width: 100%;
    height: auto;
    border: 4px solid #4a4c5c;
}
#g_screen{
    position: relative;
    width: 1020px;
    height: 912px;
}


#text_content{
    border: 4px solid #4a4c5c;
    margin: 1%;
    padding:1%;
    align-self: center;
    align-items: center;
    position: absolute;
    width: 99.9%;
    height: 95%;
    

}
#player_text_input{
    border: 4px solid #4a4c5c;
    align-self: center;
    align-items: center;
    position: absolute;
    width: 96.9%;
    bottom: 2%;
    background-color: #15141a;
    color:#dfb854;
    font-size: larger;

}

#messages {
    max-height: 200px;
    overflow-y: auto; 
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 95%;
    flex-direction: column;
    
}

#messages::-webkit-scrollbar {
    width: 5px;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #4a4c5c;
    border-radius: 8px;
}


.help {
    margin: 10px;
    padding: 8px 12px;
    background-color: #9e4caf;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.WorldVoice{
    color: #b4f4fa;
    font-size: 22px;
    font-style: italic;
    vertical-align: middle;
}

#speaker {
    color: #9e4caf;
    font-size: 22px;
    font-weight: bolder;
    vertical-align: middle;
    margin-right: 10px;
}
#PlayerID{
    color: #dfb854;
    font-size: larger;
    font-weight: bolder;
    vertical-align: middle;
    margin-right: 10px;
}
.player_text{
    color: #dfb854;
    font-size: larger;
    font-style: italic;
    vertical-align: middle;
}




#bottom_eq::-webkit-scrollbar {
    width: 5px;
}

#bottom_eq::-webkit-scrollbar-thumb {
    background-color: #4a4c5c;
    border-radius: 8px;
}
#chat{
    float: left;
    height: auto;
    width: 24.3%;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: 	#15141a;
    border: 4px solid #4a4c5c;
    position: relative;
    display: block;
}

button{
    margin: 10px;
    padding: 8px 12px;
    background-color: #9e4caf;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
